/* Hoja de estilos CSS - Universidad del Caribe; Programación Web */


/* Estilos del body en general  */
body
{
	background-color: black;
}

/* Todos los h1 */
h1
{
	color: #00ff04;
	font-size: 35px;
	font-family: Lucida Console;
}

h2
{

	color: #00ff04;
	font-size: 20px;
	font-family: Lucida Console;
}

a
{
	color: #00ff04;
	font-size: 20px;
	font-family: Lucida Console;
	text-decoration: none;
}

p
{
	color: #00ff04;
	font-size: 20px;
	font-family: Lucida Console;
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
}

a:hover
{
	color: red;
	text-decoration: none;
}

/* Tablas y celdas */
table, th, td
{
	color: #00ff04;	
	border: 1px solid black;
	font-family: Lucida Console;
	text-align: center;
}

td
{
	height: 30px;
	width: 250px;
	background-color: #545454;
}

strong
{
	color: #e00000;
}



/* Cuando pasa el ratón por el th */
#botonMenu:hover
{
	color: #ff0000;
	border: 1px solid red;
}

#map 
{
    height: 500px;
    width: 500px;
}

#footer
{
	font-size: 12px;
	text-align: center;
}

.contenedor
{
	border: 2px solid black;
	background-color: #383838;
	text-align: center;
	width: 70%;
}

.contenedorLogin
{
	float: left;
	margin-left: 15%;
	border: 2px solid black;
	background-color: #545454;
	text-align: center;
	width: 20%;
	height: 350px;
}

.contenedorRegistro
{
	float: right;
	margin-right: 15%;
	border: 2px solid black;
	background-color: #545454;
	text-align: center;
	width: 49%;
	height: 350px;
}

.contenedorFooter
{
	margin-top: 360px;
	border: 2px solid black;
	background-color: #353535;
	text-align: center;
	width: 70%;
	clear: both;
}

.contenedorMarcos
{
	float: left;
	margin-left: 15%;
	border: 2px solid black;
	background-color: #545454;
	text-align: center;
	width: 34%;
	height: 630px;
}

.contenedorJacob
{
	float: right;
	margin-right: 15%;
	border: 2px solid black;
	background-color: #545454;
	text-align: center;
	width: 34%;
	height: 630px;
}

.menu
{
	width: 100%;
	text-align: center;
	height: 50px;
}

.banner
{
	width: 70%;
	height: 500px;
}

#segundero
{
	color: #ff0000;
	font-family: Lucida Console;
}

.reloj
{
	position: fixed;
	text-align:center;
	bottom: 0px;
	width: 100%;
}

.registro
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.profile
{
	height: 250px;
	width: 350px;
}

.descarga
{
	color: white;
	background-color: #383838;
	font-family: sans-serif;
	text-align: center;
	padding: 12px 12px 12px 12px;
	border-radius: 20px;
}

.descarga:hover
{
	opacity: 0.8;
}