/* Hoja de estilos CSS - Universidad del Caribe; Programación Web */


/* Estilos del body en general  */
body
{
	background-color: black;
}

/* Todos los h1 */
h1
{
	color: #00ff04;
	font-size: 35px;
}

a
{
	color: #00ff04;
	font-size: 20px;
	text-decoration: none;
}

p
{
	color: #00ff04;
	font-size: 20px;
	text-align: justify;
}

a:hover
{
	color: red;
	text-decoration: none;
}

/* Tablas y celdas */
table, th, td
{
	color: #00ff04;	
	border: 1px solid black;
}

/* Cuando pasa el ratón por el th */
#botonMenu:hover
{
	color: #ff0000;
	border: 1px solid red;
}

#map 
{
    height: 500px;
    width: 500px;
}

.contenedor
{
	border: 2px solid black;
	background-color: gray;
	text-align: center;
	width: 70%;
}

.menu
{
	width: 100%;
	text-align: center;
	height: 50px;
}

.reloj{
	position: fixed;
	text-align:center;
	bottom: 0px;
	width: 100%;
}